In [1]:
import numpy as np
import pandas as pd

In [14]:
books=pd.read_csv('Books.csv', sep=",", error_bad_lines=False, encoding="latin-1")

C:\Users\intel\AppData\Local\Temp\ipykernel_10112\1611962696.py:1: FutureWarning: The error_bad_lines argument has been deprecated and will be removed in a future version. Use on_bad_lines in the future.


  books=pd.read_csv('Books.csv', sep=",", error_bad_lines=False, encoding="latin-1")
C:\Users\intel\AppData\Local\Temp\ipykernel_10112\1611962696.py:1: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  books=pd.read_csv('Books.csv', sep=",", error_bad_lines=False, encoding="latin-1")

In [17]:
books.head()

,ISBN,Book-Title,Book-Author,Year-Of-Publication,Publisher,Image-URL-S,Image-URL-M,Image-URL-L
0,0195153448,Classical Mythology,Mark P. O. Morford,2002,Oxford University Press,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...
1,0002005018,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...
2,0060973129,Decision in Normandy,Carlo D'Este,1991,HarperPerennial,http://images.amazon.com/images/P/0060973129.0...,http://images.amazon.com/images/P/0060973129.0...,http://images.amazon.com/images/P/0060973129.0...
3,0374157065,Flu: The Story of the Great Influenza Pandemic...,Gina Bari Kolata,1999,Farrar Straus Giroux,http://images.amazon.com/images/P/0374157065.0...,http://images.amazon.com/images/P/0374157065.0...,http://images.amazon.com/images/P/0374157065.0...
4,0393045218,The Mummies of Urumchi,E. J. W. Barber,1999,W. W. Norton &amp; Company,http://images.amazon.com/images/P/0393045218.0...,http://images.amazon.com/images/P/0393045218.0...,http://images.amazon.com/images/P/0393045218.0...

In [19]:
books=books[['ISBN', 'Book-Title', 'Book-Author', 'Year-Of-Publication', 'Publisher']]

In [20]:
books.head(2)

,ISBN,Book-Title,Book-Author,Year-Of-Publication,Publisher
0,0195153448,Classical Mythology,Mark P. O. Morford,2002,Oxford University Press
1,0002005018,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada

In [23]:
books.rename(columns={'Book-Title':'title', 'Book-Author': 'author', 'Year-Of-Publication':'Year', 'Publisher':'publisher'},inplace=True)

C:\Users\intel\AppData\Local\Temp\ipykernel_10112\1740124814.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  books.rename(columns={'Book-Title':'title', 'Book-Author': 'author', 'Year-Of-Publication':'Year', 'Publisher':'publisher'},inplace=True)

In [24]:
books.head(2)

,ISBN,title,author,Year,publisher
0,0195153448,Classical Mythology,Mark P. O. Morford,2002,Oxford University Press
1,0002005018,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada

In [27]:
users=pd.read_csv('Users.csv', sep=",", error_bad_lines=False, encoding="latin-1")

C:\Users\intel\AppData\Local\Temp\ipykernel_10112\830493634.py:1: FutureWarning: The error_bad_lines argument has been deprecated and will be removed in a future version. Use on_bad_lines in the future.


  users=pd.read_csv('Users.csv', sep=",", error_bad_lines=False, encoding="latin-1")

In [30]:
users.head(2)
users.rename(columns={'User-ID':'user_id','Location':'location', 'Age':'age'},inplace=True)

In [31]:
users.head(2)

   user_id                   location   age
0        1         nyc, new york, usa   NaN
1        2  stockton, california, usa  18.0

In [32]:
ratings=pd.read_csv('Ratings.csv', sep=",", error_bad_lines=False, encoding="latin-1")

C:\Users\intel\AppData\Local\Temp\ipykernel_10112\412877606.py:1: FutureWarning: The error_bad_lines argument has been deprecated and will be removed in a future version. Use on_bad_lines in the future.


  ratings=pd.read_csv('Ratings.csv', sep=",", error_bad_lines=False, encoding="latin-1")

In [33]:
ratings.head(2)

   User-ID        ISBN  Book-Rating
0   276725  034545104X            0
1   276726  0155061224            5

In [34]:
ratings.rename(columns={'User-ID':'user_id','Book-Rating':'rating'},inplace=True)

In [35]:
ratings.head(2)

   user_id        ISBN  rating
0   276725  034545104X       0
1   276726  0155061224       5

In [37]:
books.shape

(271360, 5)

In [38]:
users.shape

(278858, 3)

In [39]:
ratings.shape

(1149780, 3)

In [44]:
x=ratings['user_id'].value_counts()>200

In [45]:
y=x[x].index

In [46]:
y

Int64Index([ 11676, 198711, 153662,  98391,  35859, 212898, 278418,  76352,
            110973, 235105,
            ...
            260183,  73681,  44296, 155916,   9856, 274808,  28634,  59727,
            268622, 188951],
           dtype='int64', length=899)

In [47]:
ratings=ratings[ratings['user_id'].isin(y)]

In [49]:
ratings.shape

(526356, 3)

In [51]:
ratings.head()

      user_id        ISBN  rating
1456   277427  002542730X      10
1457   277427  0026217457       0
1458   277427  003008685X       8
1459   277427  0030615321       0
1460   277427  0060002050       0

In [53]:
ratings_with_books=ratings.merge(books, on='ISBN')

In [54]:
ratings_with_books.shape

(487671, 7)

In [60]:
ratings_with_books.groupby('title')['rating'].count()

title
 A Light in the Storm: The Civil War Diary of Amelia Martin, Fenwick Island, Delaware, 1861 (Dear America)    2
 Always Have Popsicles                                                                                        1
 Apple Magic (The Collector's series)                                                                         1
 Beyond IBM: Leadership Marketing and Finance for the 1990s                                                   1
 Clifford Visita El Hospital (Clifford El Gran Perro Colorado)                                                1
                                                                                                             ..
Ã?Ã?ber die Pflicht zum Ungehorsam gegen den Staat.                                                         3
Ã?Ã?lpiraten.                                                                                               1
Ã?Ã?rger mit Produkt X. Roman.                                                                              1
Ã?Ã?stlich der Berge.                                                                                       1
Ã?Ã?thique en toc                                                                                           1
Name: rating, Length: 160269, dtype: int64